<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
from wildwood.datasets import describe_datasets

df = describe_datasets(include="small-classification")
df

,dataset,task,n_samples,n_samples_train,n_samples_test,n_features_cat,n_features_cont,n_features,n_classes,n_columns,scaled_gini
0,adult,binary-classification,48841,34188,14653,8,6,14,2,108,0.728114
1,bank,binary-classification,45211,31647,13564,10,6,16,2,81,0.413197
2,breastcancer,binary-classification,569,398,171,0,30,30,2,30,0.935060
3,car,multiclass-classification,1728,1209,519,6,0,6,4,21,0.609712
4,cardio,multiclass-classification,2126,1488,638,0,35,35,10,35,0.932641
5,churn,binary-classification,3333,2333,1000,4,15,19,2,73,0.495657
6,default-cb,binary-classification,30000,21000,9000,3,20,23,2,33,0.689082
7,letter,multiclass-classification,20000,14000,6000,0,16,16,26,16,0.999965
8,satimage,multiclass-classification,5104,3572,1532,0,36,36,6,36,0.973752
9,sensorless,multiclass-classification,58509,40956,17553,0,48,48,11,48,1.000000
10,spambase,binary-classification,4601,3220,1381,0,57,57,2,57,0.955094

In [3]:
from wildwood.datasets import load_bank

In [35]:
df["task"].dtype.kind

'O'

In [37]:
hasattr(df["task"], "cat")

False

In [93]:
df.ndim

2

In [92]:
df.shape

(45211, 17)

In [5]:
dataset = load_bank()

In [16]:
job = dataset.df_raw["job"]

In [40]:
job.dtype

CategoricalDtype(categories=['admin.', 'blue-collar', 'entrepreneur', 'housemaid',
                  'management', 'retired', 'self-employed', 'services',
                  'student', 'technician', 'unemployed', 'unknown'],
                 ordered=False)

In [65]:
df = dataset.df_raw

In [69]:
df["age"].dtype.kind

'i'

In [78]:
import numbers

isinstance(1.0, numbers.Integral)

False

In [72]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [76]:
df["balance"].dtype

dtype('int64')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  category
 2   marital    45211 non-null  category
 3   education  45211 non-null  category
 4   default    45211 non-null  category
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  category
 7   loan       45211 non-null  category
 8   contact    45211 non-null  category
 9   day        45211 non-null  category
 10  month      45211 non-null  category
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  category
 16  y          45211 non-null  object
dtypes: category(10), int64(6), object(1)
memory usage: 2.8+ MB

In [71]:
for col in df:
    print(col, df[col].dtype, df[col].dtype.kind)

age int64 i
job category O
marital category O
education category O
default category O
balance int64 i
housing category O
loan category O
contact category O
day category O
month category O
duration int64 i
campaign int64 i
pdays int64 i
previous int64 i
poutcome category O
y object O

In [63]:
# hasattr(job, "cat")

In [32]:
df.shape

(11, 11)

In [51]:
job.dtype.categories

Index(['admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management',
       'retired', 'self-employed', 'services', 'student', 'technician',
       'unemployed', 'unknown'],
      dtype='object')

In [31]:
job.cat.codes.values.max()

11

In [52]:
dict(enumerate(job.cat.categories))

{0: 'admin.',
 1: 'blue-collar',
 2: 'entrepreneur',
 3: 'housemaid',
 4: 'management',
 5: 'retired',
 6: 'self-employed',
 7: 'services',
 8: 'student',
 9: 'technician',
 10: 'unemployed',
 11: 'unknown'}

In [58]:
job.cat.codes.dtype

dtype('int8')

In [53]:
job[:100]

0       management
1       technician
2     entrepreneur
3      blue-collar
4          unknown
          ...
95      management
96     blue-collar
97         retired
98      technician
99      management
Name: job, Length: 100, dtype: category
Categories (12, object): ['admin.', 'blue-collar', 'entrepreneur', 'housemaid', ..., 'student', 'technician', 'unemployed', 'unknown']

In [56]:
all(job.cat.categories[job.cat.codes] == job)

True

In [62]:
df["task"].astype("category")

0         binary-classification
1         binary-classification
2         binary-classification
3     multiclass-classification
4     multiclass-classification
5         binary-classification
6         binary-classification
7     multiclass-classification
8     multiclass-classification
9     multiclass-classification
10        binary-classification
Name: task, dtype: category
Categories (2, object): ['binary-classification', 'multiclass-classification']

In [ ]:
from wildwood.dataset import load_boston

In [ ]:
dataset = load_boston()

In [ ]:
dataset.drop = None
dataset.one_hot_encode = True
X_train, X_test, y_train, y_test = dataset.extract(random_state=42)

In [ ]:
dataset.columns_

In [ ]:
X_train.shape

In [ ]:
import numpy as np

dataset.df_raw.apply(lambda col: np.unique(col).size)

In [ ]:
np.finfo("float32").eps

In [ ]:
np.finfo("float32").epsneg

In [ ]:
from wildwood.dataset import loaders_small_classification

for loader in loaders_small_classification:
    dataset = loader()
    dataset.one_hot_encode = True
    X_train, X_test, y_train, y_test = dataset.extract(random_state=42)
    print("-" * 32)
    print(dataset.name)
    print(dataset.categorical_features_)
    dataset.one_hot_encode = False
    X_train, X_test, y_train, y_test = dataset.extract(random_state=42)
    print(dataset.categorical_features_)

# Test for categorical on a small toy data

In [ ]:
import numpy as np
import pandas as pd

X2 = np.repeat(np.arange(5), 20).reshape((-1, 1))
X1 = np.repeat(np.arange(2), 50).reshape((-1, 1))
y = np.repeat([1, 0, 0, 1, 0], 20)
X = np.concatenate([X1, X2], axis=1)

In [ ]:
(
    pd.DataFrame({"X1": X1.ravel(), "X2": X2.ravel(), "y": y})
    .groupby("X2")
    .sum()
    .reset_index()
)

In [ ]:
attributes = ["feature", "bin_threshold", "bin_partition", "y_pred", "is_split_categorical"]

In [ ]:
from bokeh.plotting import output_notebook, show
from wildwood import ForestClassifier
from wildwood.plot import plot_tree

output_notebook()

clf = ForestClassifier(
    n_estimators=1,
    random_state=42,
    categorical_features=[True, True],
    dirichlet=0., 
    aggregation=False
)
clf.fit(X, y)
fig = plot_tree(clf, height=200, attributes=attributes)
show(fig)

In [ ]:
clf.predict_proba(np.array([0, 1]).reshape(1, 2))

In [ ]:
clf.path_leaf(np.array([0, 1]).reshape(1, 2))[0]

In [ ]:
clf = ForestClassifier(
    n_estimators=1,
    random_state=42,
    categorical_features=None,
    dirichlet=0.,
    aggregation=False
)
clf.fit(X, y)
fig = plot_tree(clf, height=300, attributes=attributes)
show(fig)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

X_onehot = OneHotEncoder(sparse=False).fit_transform(X)
clf = ForestClassifier(
    max_features=None,
    n_estimators=1,
    random_state=42,
    dirichlet=0.,
    aggregation=False,
    categorical_features=None)

clf.fit(X_onehot, y)
fig = plot_tree(clf, height=300, attributes=attributes)
show(fig)

In [ ]:
X_onehot.shape

In [ ]:
X_onehot = OneHotEncoder(sparse=False).fit_transform(X)
clf = ForestClassifier(n_estimators=1, random_state=42, categorical_features=[True] * 5)
clf.fit(X_onehot, y)
fig = plot_tree(clf, height=300)
show(fig)

In [ ]:
df.columns

In [ ]:
df[["node_id", "left_child", "right_child", "is_leaf", "is_split_categorical", "split_partition", "y_pred"]]

In [ ]:
clf = ForestClassifier(n_estimators=1, random_state=42, categorical_features=None)
clf.fit(X, y)
df = clf.get_nodes(0)

In [ ]:
df[["node_id", "left_child", "right_child", "is_leaf", "is_split_categorical", "split_partition", "y_pred"]]

In [ ]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False)

In [ ]:

df = clf.get_nodes(0)

In [ ]:
df[["node_id", "left_child", "right_child", "is_leaf", "is_split_categorical", "split_partition", "y_pred"]]

In [ ]:
aaa

In [ ]:
str(np.array([1, 4, 2], dtype=np.uint8))

In [ ]:
clf.predict_proba(X)

In [ ]:
clf = ForestClassifier(n_estimators=1, random_state=42, categorical_features=[True])

In [ ]:
clf.fit(X, y)

In [ ]:
df.describe(include="all")

In [ ]:
dataset.one_hot_encode = False

X_train, X_test, y_train, y_test = dataset.extract(random_state=42)

In [ ]:
dataset.categorical_columns_

In [ ]:
dataset.categorical_features_

In [ ]:
import numpy as np

np.unique(X_train[:, 9])

In [ ]:
X_train[1:100, 12]

In [ ]:
categorical_features[18]

In [ ]:
np.unique(X_train[:, 18]).size

In [ ]:
X_train[:, 2].shape

In [ ]:
import numpy as np

n_features = X_train.shape[1]

categorical_features = np.zeros(n_features, dtype=np.bool)

In [ ]:
categorical_features[-dataset.n_features_categorical_:] = True

In [ ]:
categorical_features

In [ ]:
from wildwood import ForestClassifier

clf = ForestClassifier(categorical_features=categorical_features)

In [ ]:
clf._check_categories(X_train)

In [ ]:
dataset.one_hot_encode = False

dataset.extract(random_state=42)

In [ ]:
dataset.transformer.transformer_list

In [ ]:
ordinal_encoder = dataset.transformer.transformer_list[1][1].transformers[0][1]

In [ ]:
ordinal_encoder.categories

In [ ]:
ordinal_encoder.categories_

In [ ]:
from wildwood._binning import Binner

In [ ]:
binner = Binner()

In [ ]:
binner.fit_transform(df)

In [ ]:
df = dataset.df_raw

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.to_csv("dataset-small-classification.csv.gz", index=False)

In [ ]:
df = describe_datasets(include="small-regression")

In [ ]:
df

In [ ]:
df.to_csv("dataset-small-regression.csv.gz", index=False)

In [ ]:
import pandas as pd

pd.read_csv("dataset-small-regression.csv.gz")

In [ ]:
pwd

In [ ]:
ls -rtl

In [ ]:
from wildwood.dataset import datasets_description

df_datasets = datasets_description(include="small-classification")
df_datasets

In [ ]:
df_datasets = datasets_description(include="small-regression")
df_datasets

In [ ]:
df_datasets.loc[df_datasets["task"] == "regression"]

In [ ]:
.iloc(df_datasets["task"] == "regression")

In [ ]:
dataset = load_churn()

In [ ]:
dataset.df_raw.head()

In [ ]:
import numpy as np
import pandas as pd

from wildwood._binning import Binner

In [ ]:
df = pd.DataFrame({
    "A": ["a", "b", "a", "a"],
    "B": [0.1, 0.2, 0.1, 0.3]
})

In [ ]:
df.dtypes

In [ ]:
df["A"] = df["A"].astype("category")

In [ ]:
df.dtypes

In [ ]:
binner = Binner()

In [ ]:
binner.fit_transform(df)

In [ ]:
print(data["DESCR"])

In [ ]:
from sklearn.datasets import load_breast_cancer

data = load_breast_cancer(as_frame=True)
data["frame"]

In [ ]:
data["frame"].info()

In [ ]:
print(data["DESCR"])

In [ ]:
from sklearn.datasets import load_diabetes, load_boston

data = load_boston()

In [ ]:
data.keys()

In [ ]:
import pandas as pd

df = pd.DataFrame(data["data"], columns=data["feature_names"])
df["target"] = data["target"]

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
print(data["DESCR"])

In [ ]:
truc["frame"]

In [ ]:
truc["target"]

In [ ]:
truc.keys()

In [ ]:
truc["frame"]

In [ ]:
truc["frame"].dtypes

In [ ]:
import numpy as np

In [ ]:
np.repeat(np.array([2, 1, 17, 3]), repeats=3)