In [2]:
from wildwood.datasets import load_adult

X, y = load_adult(raw=True, verbose=True)

2021-12-06 15:25:45 Reading from file /Users/stephanegaiffas/wildwood_data/adult/adult.csv.gz...
2021-12-06 15:25:45 Read from file /Users/stephanegaiffas/wildwood_data/adult/adult.csv.gz in 0.11 seconds

In [3]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States

In [4]:
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: >50K?, dtype: object

In [2]:
df = dataset.df_raw
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,>50K?
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48837,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
48838,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48839,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48840,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [3]:
df.dtypes

age                  int64
workclass         category
fnlwgt               int64
education         category
education-num        int64
marital-status    category
occupation        category
relationship      category
race              category
sex               category
capital-gain         int64
capital-loss         int64
hours-per-week       int64
native-country    category
>50K?               object
dtype: object

In [4]:
y_name = ">50K?"
y = df.loc[:, y_name]
df.drop(y_name, axis="columns", inplace=True)
X = df
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: >50K?, dtype: object

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States

In [6]:
from wildwood import ForestClassifier
from sklearn.model_selection import train_test_split

random_state = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=random_state)

In [7]:
n_estimators = 10
max_bins = 16
class_weight = "balanced"
n_jobs = -1
dirichlet = 1e-2
aggregation = True
categorical_features = None

clf = ForestClassifier(
    n_estimators=n_estimators,
    n_jobs=n_jobs,
    aggregation=aggregation,
    max_bins=max_bins,
    dirichlet=dirichlet,
    class_weight=class_weight,
    # categorical_features=categorical_features,
    random_state=random_state,
)
clf.fit(X_train, y_train)

/Users/stephanegaiffas/Code/wildwood/wildwood/preprocessing/_checks.py:129: UserWarning: I will consider column age as numerical: it has 74 unique values.
  warnings.warn(
/Users/stephanegaiffas/Code/wildwood/wildwood/preprocessing/_checks.py:129: UserWarning: I will consider column fnlwgt as numerical: it has 23506 unique values.
  warnings.warn(
/Users/stephanegaiffas/Code/wildwood/wildwood/preprocessing/_checks.py:129: UserWarning: I will consider column education-num as numerical: it has 16 unique values.
  warnings.warn(
/Users/stephanegaiffas/Code/wildwood/wildwood/preprocessing/_checks.py:129: UserWarning: I will consider column capital-gain as numerical: it has 120 unique values.
  warnings.warn(
/Users/stephanegaiffas/Code/wildwood/wildwood/preprocessing/_checks.py:129: UserWarning: I will consider column capital-loss as numerical: it has 95 unique values.
  warnings.warn(
/Users/stephanegaiffas/Code/wildwood/wildwood/preprocessing/_checks.py:129: UserWarning: I will consider column hours-per-week as numerical: it has 93 unique values.
  warnings.warn(
/Users/stephanegaiffas/.conda/envs/wildwood/lib/python3.8/site-packages/pandas/core/arrays/categorical.py:2630: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  res = method(*args, **kwargs)

ForestClassifier(class_weight='balanced', dirichlet=0.01, max_bins=16,
                 n_jobs=-1, random_state=42)

In [15]:
import pandas as pd


pd.DataFrame({"column": X.columns, "is_categorical": clf.is_categorical_})

            column  is_categorical
0              age           False
1        workclass            True
2           fnlwgt           False
3        education            True
4    education-num           False
5   marital-status            True
6       occupation            True
7     relationship            True
8             race            True
9              sex            True
10    capital-gain           False
11    capital-loss           False
12  hours-per-week           False
13  native-country            True

In [17]:


clf.is_categorical_

array([False,  True, False,  True, False,  True,  True,  True,  True,
        True, False, False, False,  True])

In [16]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States

In [9]:
type(clf.is_categorical_)

numpy.ndarray

In [ ]:
clf._encoder.

In [ ]:

y_scores_test = clf.predict_proba(X_test)
roc_auc_test = roc_auc_score(y_test, y_scores_test[:, 1])
assert roc_auc_test > 0.85